@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*<h1 class="text-danger">Error.</h1>*@
<h3 class="text-danger">Please check your permissions with the Admin. You do not have enough rights to perform Book in.</h3>

